@import url(http://fonts.googleapis.com/css?family=Armata);
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@charset "UTF-8";


html,body { 
  height:90%; 
}

html {
	background: url(images/chapin2.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

body {
	/* background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#008ced), to(#00528b)); */
	background: none;
	padding: 0px;
	margin:0px;
}

#cssmenu ul,
#cssmenu li,
#cssmenu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: 'Pathway Gothic One';
  font-size: 22px;
  color: white;
}

#title {
  font-family: 'Armata';
  font-size: 60px;
  text-align: center;
  color: white;
  
  background: black;
  
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;  
  
  margin: auto;
  
  margin-top: 10px;
  margin-bottom: -1px;
  margin-top: -1px;
  width: 100%;
  height: auto;
}

#content {
  border: none;
  zoom: 1;
  background: rgba(0, 0, 0, 0.50) ;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.50)  0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.50) ), color-stop(100%, rgba(0, 0, 0, 0.50)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.50)  0%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.50)  0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.50)  0%, black 100%);
  background: linear-gradient(top, rgba(0, 0, 0, 0.50)  0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);

  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  
  margin: auto;
  padding: 5% 10%;
  font-family: 'Asap';
  margin-top: 0px;
  width: auto;
  height: 75%;
}

p {
	padding-left: 5px;	
}

#header {
  background: none;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;  
  
  margin: auto;
  
  margin-top: 10px;
  font-family: 'Architects Daughter';
  margin-top: -1px;
  width: 700px;
  height: 50px;
}

#footer {
  background: none;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;  
  
  margin: auto;
  
  margin-top: 10px;
  font-family: 'Roboto Slab';
  margin-top: 10px;
  width: 700px;
  height: 25px;
}

#menuContainer{
  zoom: 1;
  background: black;
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.75)));
  background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.75) 100%);
  background: linear-gradient(top, black 0%, rgba(0, 0, 0, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
  
  border: 1px solid black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}


/* Base Styles */

#cssmenu {
  border: 0px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: auto;
  width: 425px;
  margin: 0 auto;
}
#cssmenu ul {
  /* zoom: 1;
  background: black;
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.75)));
  background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.75) 100%);
  background: linear-gradient(top, black 0%, rgba(0, 0, 0, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
  */
  
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu li {
  float: left;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
}
#cssmenu li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 15px 9px 15px;
  display: block;
  text-decoration: blink;
  border: 1px solid transparent;
}
#cssmenu li.active {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #36b0b6;
}
#cssmenu li.active a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: transparent;
  border: 1px solid black;
  -moz-box-shadow: inset 0 5px 10px black;
  -webkit-box-shadow: inset 0 5px 10px black;
  box-shadow: inset 0 5px 10px black;
}
#cssmenu li:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid white;
}
#cssmenu li:hover a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: transparent;
  border: 1px solid black;
  -moz-box-shadow: inset 0 5px 10px black;
  -webkit-box-shadow: inset 0 5px 10px black;
  box-shadow: inset 0 5px 10px black;
}